$gray-1: oklab(0.239468 0.000131123 -0.00589392);
$gray-2: oklab(0.296709 -0.000735492 -0.00772537);
$gray-3: oklab(0.321044 -0.000249296 -0.00927344);
$gray-4: oklab(63.95% 0 -0.0149199);
$gray-5: oklab(0.686636 -0.00407365 -0.0149199);
$gray-6: oklab(0.999994 0.0000455678 0.0000200868);

$red-1: rgb(206, 51, 54);
$red-2: rgb(242, 63, 67);

$green-1: rgb(28, 136, 73);
$green-2: rgb(35, 165, 90);

$yellow-1: rgb(218, 160, 44);
$yellow-2: rgb(240, 178, 50);

$blue-1: rgb(71, 82, 196);
$blue-2: rgb(88, 101, 242);
